<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Fantasy Craft</title>

</head>

<body>
    <body style="background:url('../static/images/beerbackground2.jpg'); background-attachment:fixed; background-repeat: no-repeat;">
    <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-left">
          <!-- don't forget to link pages back to home-->
          <li role="presentation"><a href="/">Welcome Insight Demo</a></li>
        </ul>
      </nav>
    </div>
<br><br>

  <!--here's the input container-->

<div class="container">

   <div class="starter-template">
       <h2>Fantasy Craft Beer Recommender</h2>
       {{ result }}
       <p>FIRST ROUND DRAFT PICK: Black Chocolate Stout - Brooklyn Brewery</p>
       <p>SECOND ROUND DRAFT PICK: Mother's Milk - </p>
       <p>THIRD ROUND DRAFT PICK: Left Hand Milk Stout - Left Hand Brewing</p>
   </div>

 </div> <!-- /.container-->


  </body>
</html>