 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Fantasy Craft</title>
</head>

<body>
    <body style="background:url('../static/images/beerbackground2.jpg'); background-attachment:fixed; background-repeat: no-repeat;">
    <div class="container">
    <div class="header clearfix">
    </div>
<br><br>

  <!--here's the input container-->

<div class="container">

   <div class="starter-template">
       <h2>Fantasy Craft Beer Recommender</h2>
       <p>Enter either a beer or a beer keyword</p>
   </div>

   <div class = "container">
     <form method="GET">
       <div class="form-group">
         <label for="Input">Input:</label>
         <input type="text" id="input" name='userinput' placeholder="e.g. Lagunitas IPA or hoppy beer">
       </div>

       <div>
         <button type="submit" class="btn btn-default btn-lg">Get me a new beer!</button>
       </div>

     </form>
   </div>

 </div> <!-- /.container-->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>